.cme-grid {
  &__buttons_grouped {
    background-color: $black--dark;
    left: 0px;
    padding: 10px 8px 10px 12px;
    position: absolute;
    text-align: right;
    top: 0;
    z-index: 10;
  }

  &__button {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    height: 20px;
    margin-right: 20px;
    outline: none;
    padding: 0;
    position: relative;
    transition: transform .3s;
    vertical-align: top;
    width: 20px;

    &:hover {
      transform: scale(1.2);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__add-image {
    background-image: url('../img/add_image.png');
  }

  &__rm-image {
    background-image: url('../img/remove_image.png');
  }

  &__remove-box {
    background-image: url('../img/remove_box.png');
    height: 15px;
  }

  &__zoom-in {
    background-image: url('../img/zoom_in.png');
  }

  &__zoom-out {
    background-image: url('../img/zoom_out.png');
  }
}
