%drag-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 30px;
  opacity: .2;
  position: absolute;
  transition: opacity .3s;
  width: 30px;
  z-index: 5;

  @at-root {
    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }
}

.cme-grid {

  &__vertical-drag {
    border-right: 2px dashed $blue;
    cursor: w-resize;
    height: 100%;
    left: 49.8%;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 110;

    &::before {
      @extend %drag-image;
      background-image: url('../img/icon_dragger_x.png');
      left: -13px;
      margin-top: -15px;
      top: 50%;
    }
  }


  &__horizontal-drag {
    border-bottom: 2px dashed $blue;
    cursor: s-resize;
    left: 0;
    position: absolute;
    top: 49.9%;
    width: 100%;
    z-index: 110;

    &::before {
      @extend %drag-image;
      background-image: url('../img/icon_dragger_y.png');
      left: 50%;
      margin-left: -15px;
      top: -13px;
    }
  }
}
