.cme-grid {
  &__templates-list {
    align-items: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  &__templates-item {
    border-right: 1px solid $gray--light;
    display: block;
    font-size: 0;
    line-height: 0;
    margin-bottom: 0;
    margin-right: 3%;
    padding: 10px 3% 10px 0;
    text-align: center;

    &:last-child {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
    }

    input {
      display: none;
    }
  }

  &__label {
    display: block;
    position: relative;

    input:checked + &::before {
      opacity: 1;
    }

    &::before {
      background-image: url('../img/selected.png');
      background-size: contain;
      content: '';
      display: block;
      height: 20px;
      opacity: 0;
      position: absolute;
      right: -8px;
      top: -8px;
      transition: opacity .3s;
      width: 20px;
      z-index: 2;
    }
  }

  &__label-img {
    display: block;
    height: auto;
    margin: 0;
    max-width: $label-icon-width;
    transition: transform .3s;
    width: auto;

    &:hover {
      transform: scale(1.2);
    }
  }
}
