.cme-grid {
  &__templates {
    display: none;
  }

  &__wrp-box {
    background-color: $white;
    border-bottom: 25px solid $gray--light;
    padding: 2.5% 5%;

    &--uniform {
      padding: 2%;
    }
  }

  &__wrap {
    border: 1px dashed $gray;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    & > .cme-grid__box > .cme-grid__button {
      display: none;
    }
  }

  &__box {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding-top: 10px;
    position: absolute;
    top: 0;
    width: 100%;


    &.alert::before {
      background-color: $transparent-red;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
    }

    img,
    span {
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: move;
      display: block;
      height: 100%;
      left: 0!important;
      position: absolute;
      top: 0!important;
      transform: translate3d(0, 0, 0)!important;
      width: 100%;
      z-index: 5;
    }
  }
}
