.cme-grid {
  &__sep-h,
  &__sep-v {
    background-image: url('../img/sep_h.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 30px;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50%;
    z-index: 4;
  }

  &__sep-h {
    background-image: url('../img/sep_v.png');
    background-position: right center;
    left: 0;
  }

  &__sep-v {
    background-position: left center;
    background-size: 30px auto;
    right: 0;
  }
}
