.cme-grid {
  &__shortcode {
    color: $black;
    position: relative;
    vertical-align: bottom;
  }

  &__caps {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 25px;
    text-transform: uppercase;
  }

  &__shortcode-value {
    color: $black;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    position: relative;
    top: -1px;

    &::before {
      color: $blue;
      content: 'Click to copy to clipboard';
      font-size: 12px;
      font-weight: normal;
      left: 0;
      opacity: 0;
      position: absolute;
      top: -20px;
      transition: visibility .3s, opacity .3s;
      visibility: hidden;
    }

    &:hover::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &__alert-box {
    background-color: $blue;
    color: $white;
    display: none;
    font-size: .5em;
    font-weight: normal;
    left: 0;
    padding: .2em .8em;
    position: absolute;
    top: 100%;
    z-index: 100;
  }
}
