#adminmenu {
  [class*='cme-grids'] .wp-menu-image img {
    height: auto;
    max-height: 18px;
    max-width: 18px;
    width: auto;
  }

  .menu-icon-cme_grids {
    .dashicons-admin-post::before {
      background-image: url('../img/cme_admin_logo.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      opacity: .6;
    }

    &:hover .dashicons-admin-post::before {
      opacity: 1;
    }
  }
}

body.pages_page_home-grid {
  background-color: $white;
}

.post-type-cme_grids {
  #cmegrid_sectionid {
    .inside {
      padding: 0;
    }
  }
}
