body:not(.cme-grids-disabled) .cme-grid {

  &__info-box {
    background-color: $black-transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: -150%;
    transition: .3s;
    width: 100%;
    z-index: 20;
  }

  &__mid-container {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  &__anchor {
    border: 1px solid $white;
    color: $white;
    display: inline-block;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 10px 15px 8px;
    text-decoration: none;
    transition: background-color .3s, color .3s;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}

.cme-grid {
  &__info-box {
    position: relative;
    z-index: 5;
  }
}
