.cme-grid {
  &__wrap {
    box-sizing: border-box;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    z-index: 0;

    @media(max-width: 640px) {
      .cme-grids-one-col & {
        padding-bottom: 0!important;
      }
    }
  }

  &__box {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    &:hover > .cme-grid__info-box {
      top: 0;
    }

    @media(max-width: 640px) {
      .cme-grids-one-col & {
        height: auto!important;
        left: 0!important;
        position: relative;
        width: 100%!important;
      }
    }
  }

  &__img {
    background-position: 0 0;
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity .6s;
    will-change: opacity;
    width: 100%;
    z-index: 5;

    &--not-loaded {
      opacity: 0;
    }

    @media(max-width: 640px) {
      .cme-grids-one-col & {
        position: relative;
      }
    }
  }
}
