// Colors
$white: #fff;
$blue: #058af1;
$black: #383838;
$black--light: #7b7777;
$black--dark: #000;
$gray--light: #f1f1f1;
$gray: #ddd;
$transparent-red: rgba(210, 0, 0, .25);

// Sizes
$label-icon-width: 40px;
